/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}



.profile-card {
    background-color: hsla(60, 100%, 50%, .4);
    width: 480px;
    max-width: calc(100vw - 10px);
    background: hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

.head, .content {
    
    width: 90%;
    margin: 0 auto;    
}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('fondo.jpg') no-repeat center center fixed;
    background-size: cover;
}

.head, .links {
    text-align: center;
}

img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 1px;
    background-color: #666;
    filter: grayscale(50%);
}


.profile-image {
    margin-top: -60px;
}


/* Enlaces de contacto */


ul{
    list-style-type: none;
}

li{
    display: inline;
}

.head, .about{
    margin-bottom: 10%;
}

.about{
    text-align: justify;
}

.content {
    padding: 5% 10%;
    
}

img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: grayscale(20%);
}